.box{
	display: flex;
	background: red;
	color: black;
	box-sizing: border-box;
	transform: rotateX("20px");
	span{
		flex: 1;
	}
}
h1{
	background: yellow;
}
.box2{
	background: url(../img/kebi.jpg);
}
