.box{
	display: flex;
	background: red;
	color: black;
	box-sizing: border-box;
	transform: translateX(20px);
	span{
		flex: 2;
		border: 1px solid black;
	}
}
h1{
	background: yellow;
}
.box2{
	background: url(../img/kebi.jpg);
}
