.box{
    background: url(../img/kebi.jpg);
    width: 800px;
    margin: 0 auto;
     text-align: center;
    span{
        color: #fff;
    }
    img{
        width: 200px;
        height: 200px;
    }
}
